<!DOCTYPE html>
<html>
<head>
    <title>未来ちゃん誕生日おめでとう！！！！</title>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/static/script.js"></script>


<!-- Cropper.js CSS -->
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css"
/>

<!-- Cropper.js 本体 -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js">
</script>

    <style>

        footer {

            margin-top: 30px;
            padding: 10px;
            background: #f0f0f0;
            text-align: center;

        }

    </style>



</head>

<body>

<h1>∫๑'ヮ')ƪ未来ちゃんかわいいサイト！！！！！！！！！！！！！∫๑'ヮ')ƪ</h1>
<h2>未来ちゃん誕生日おめでとう！！！！！！！！！！！</h2>

<b>
毎年未来ちゃんをお祝いするnoteを出してきましたが，まあいろいろ大変なので<br>
今年からはサイトを作ることにしました！！！！<br>
最低でも6月と12月に未来ちゃんかわいい大会をやるので更新します！！

</b>

<br><br>
↓↓↓☆各種項目!!!☆↓↓↓

<button class="mirai-button" onclick="location.href='/nenpyo'"">
 2026年前期の未来ちゃんを振り返ろう！
 <br>
 未来ちゃんかわいい大会2026！！
 ∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ
</button>



<button class="mirai-button" onclick="location.href='/markoving'">
未来ちゃんマルコフ生成ページ∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ
</button>
<div id="loading" style="display:none;">

    <img src="/static/mirai6th_urouro.gif"
         width="160">

    <p>∫๑'ヮ')ƪ生成中…∫๑'ヮ')ƪ</p>

</div>
<p id="result"></p>




<br>

<button class="mirai-button" onclick="Miraikuzi()">
 未来ちゃおみくじ∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ
</button>

<br>

<button class="mirai-button" onclick="location.href='/song'">
今日の1曲！ ∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ
</button>



<p id="result"></p>

<button class="nadenade-button"onclick="countClick()">
なでなでボタン
</button>

<p class="countBox">

<span class="countNumber"
id="countNumber">
0
</span>

<span class="countText">
回未来ちゃんをなでなでしました！！
</span>

</p>
<br>
<img
id="bounceImage"
src="/static/6thmirai.png"
width="200">
<br>

<button class="Twitter-button"
onclick="shareCountOnX()">

なでなでをX（旧Twitter）でシェア！  
∫๑'ヮ')ƪ

</button>




<footer>

    <p>
        未来ちゃんかわいいサイト!!!
        <br>
        <a href="https://x.com/reach_wind">
            お問い合わせはX（旧Twitter）のDMにおねがいします
        </a>
    </p>

</footer>


</body>


</html>