<!DOCTYPE html>
<html>
<head>
    <title>春日未来ちゃんかわいいサイト!!!</title>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="未来ちゃんかわいいサイト!!!">
<meta property="og:image" content="https://www.mirai-cha.link/static/name.png">
<script src="/static/script.js"></script>


<!-- Cropper.js CSS -->
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css"
/>

<!-- Cropper.js 本体 -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js">
</script>

    <style>

        footer {

            margin-top: 30px;
            padding: 10px;
            background: #f0f0f0;
            text-align: center;

        }

    </style>



</head>

<body>

<h1>∫๑'ヮ')ƪ未来ちゃんかわいいサイト！！！！！∫๑'ヮ')ƪ</h1>
<h2>2026/6/28 未来ちゃん誕生日おめでとう！！！！！！！！</h2>

<b>
毎年春日未来ちゃんをお祝いするnoteを出してきましたが，<s>まあいろいろ大変なので</s><br>
今年からはサイトを作ることにしました！！！！<br>
未来ちゃんかわいい大会もこっちでやります！！

</b>

<div class="introBox">
<h1>春日未来ちゃんとは！？</h1>
春日未来ちゃんとは，765プロの劇場（シアター）でアイドルをやっている，14歳で元気いっぱいな女の子です!
<br>
毎日劇場でみんなと楽しく過ごしながら，いろんな景色を見るためにアイドル奮闘中です!!
<br>

        <a href="https://millionlive-theaterdays.idolmaster-official.jp/idol/mirai/">
            詳細はアイドルマスターミリオンライブ！の公式サイトをちぇっく！
        </a>
</div>

<br><br>
↓↓↓☆各種項目!!!☆↓↓↓

<button class="mirai-button" onclick="location.href='/nenpyo'"">
 2026年前期の未来ちゃんを振り返ろう！
 <br>
 未来ちゃんかわいい大会2026！！
 ∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ
</button>


<button class="mirai-button" onclick="location.href='/markoving'">
未来ちゃんマルコフ生成ページ∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ
</button>
<br>
(補足：大量のテキストから確率論的につないで文章にするあれです)




<!-- <button class="mirai-button" onclick="Miraikuzi()">
 未来ちゃおみくじ∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ
</button>
-->
<br>

<button class="mirai-button" onclick="location.href='/song'">
今日の1曲！ ∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ
</button> 



<p id="result"></p>

<button class="nadenade-button"onclick="countClick()">
なでなでボタン
</button>

<p class="countBox">

<span class="countNumber"
id="countNumber">
0
</span>

<span class="countText">
回未来ちゃんをなでなでしました！！
</span>

</p>
<br>
<img
id="bounceImage"
src="/static/6thmirai.png"
width="200">
<br>

<button class="Twitter-button"
onclick="shareCountOnX()">

なでなでをX（旧Twitter）でシェア！  
∫๑'ヮ')ƪ

</button>


<h2>主な更新履歴</h2>
<h4>2026/6/28 サイトの本稼働を開始しました！</h4>



<footer>

    <p>
        未来ちゃんかわいいサイト!!!
        <br>
        こちらは非公式のファンサイトです。
        <br>

        <a href="https://x.com/reach_wind">
            お問い合わせはXのDMにお願いします。
        </a>
    </p>

</footer>


</body>


</html>