<!DOCTYPE html>
<html>
<head>

<title>でへへマルコフ</title>

<link rel="stylesheet" href="/static/style.css">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<script src="/static/script.js"></script>

</head>

<body>

<h1>
∫๑'ヮ')ƪ未来ちゃんマルコフ生成∫๑'ヮ')ƪ
</h1>

<h3>
    このページでは未来ちゃんのテキストを大量に入力した中から，
    マルコフ連鎖をつかってそれっぽいことを未来ちゃんに出力してもらいます！！
    <br>

</h3>

<button class="mirai-button"
onclick="generateText()">

未来ちゃんマルコフ生成ボタン  
∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ

</button>

<div id="loading" style="display:none;">

<img src="/static/mirai6th_urouro.gif"
width="160">

<p>
∫๑'ヮ')ƪ生成中…∫๑'ヮ')ƪ
</p>

</div>

<div class="resultBox">

<p id="result"></p>

</div>

<br>
<h4>
    下のシェアボタンを押すといちばん最近に生成した文章をX（旧Twitter）で簡単にシェアできますよ～！
    <br>
    
</h4>
<button class="Twitter-button"
onclick="shareOnX()">

X（旧Twitter）でシェア！  
∫๑'ヮ')ƪ

</button>

<br><br>

<button class="top-button" onclick="location.href='/'">

← トップに戻る

</button>

</body>
</html>