<!DOCTYPE html>
<html>
<head>

<title>今日の1曲！！</title>

<link rel="stylesheet" href="/static/style.css">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<script src="/static/script.js"></script>

</head>

<body>


<h3>
    このページでは未来ちゃんが歌った曲を1曲，ランダムにセレクトしてくれるサイトです！
    <br>
    今日はこの曲を聴いて未来ちゃんとともに過ごそう♪♪
</h3>

<button class="mirai-button"
onclick="getsound()">

今日の1曲!!
∫๑'ヮ')ƪσ*凸ﾎﾟﾁｯ

</button>

<div id="songArea"></div>

<div class="resultBox">

<p id="result"></p>

</div>

<br>
<h4>
    下のシェアボタンを押すといちばん最近に生成した文章をX（旧Twitter）で簡単にシェアできますよ～！
    <br>
    
</h4>
<button class="Twitter-button"
onclick="shareOnX()">

X（旧Twitter）でシェア！  
∫๑'ヮ')ƪ

</button>

<br><br>

<button class="top-button" onclick="location.href='/'">

← トップに戻る

</button>

</body>
</html>